@page 
@model WidraSoftCloud.UI.Pages.Pesages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pesage</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.PontId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.PontId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.CamionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.CamionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.LibelleCamion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.LibelleCamion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.Flux)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.Flux)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.TransporteurId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.TransporteurId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.LibelleTransporteur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.LibelleTransporteur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.ProduitId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.ProduitId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.LibelleProduit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.LibelleProduit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.DestiprovenId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.DestiprovenId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.LibelleDestination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.LibelleDestination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.ClientFourniId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.ClientFourniId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.LibelleClient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.LibelleClient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.CategorieCam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.CategorieCam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.Observations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.Observations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.DateArrivee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.DateArrivee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.PoidsNet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.PoidsNet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.AgentPesee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.AgentPesee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.ProvenanceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.ProvenanceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.LibelleProvenance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.LibelleProvenance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pesage.DateSynchronisation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pesage.DateSynchronisation)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pesage.Id" />
        <input type="hidden" asp-for="Pesage.LibellePont" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
