@page
@model WidraSoftCloud.UI.Pages.Pesages.IndexModel

@{
    ViewData["Title"] = "Pesages";
}

<h1>Pesages</h1>
<br />
<p>
<form>
    <p>
        Numéro: <select asp-for="Id" asp-items="Model.Ids">
            <option value="">Tout</option>
        </select>
        Pont: <select asp-for="Pont" asp-items="Model.Ponts">
            <option value="">Tout</option>
        </select>
        Camion: <select asp-for="Camion" asp-items="Model.Camions">
            <option value="">Tout</option>
        </select>
        Transporteur: <select asp-for="Transporteur" asp-items="Model.Transporteurs">
            <option value="">Tout</option>
        </select>
    </p>
    <p>
        Produit: <select asp-for="Produit" asp-items="Model.Produits">
            <option value="">Tout</option>
        </select>

        Destination: <select asp-for="Destination" asp-items="Model.Destinations">
            <option value="">Tout</option>
        </select>

        Client:  <select asp-for="Client" asp-items="Model.Clients">
            <option value="">Tout</option>
        </select>

        Categorie:  <select asp-for="Categorie" asp-items="Model.Categories">
            <option value="">Tout</option>
        </select>
    </p>
    <p>
        Provenance:  <select asp-for="Provenance" asp-items="Model.Provenances">
            <option value="">Tout</option>
        </select>

        Filtre de Date: <input type="checkbox" asp-for="IsDateFilterChecked" onchange="dateFiltercheckedChanged" name="DateFilter"/>
                     <input asp-for="StartDate" name="StartDate"/>
                     <input asp-for="EndDate" name="EndDate"/>


        <input style="background-color:#0bb963;color:white;border-radius:3px 4px;" type="submit" value="Rechercher" />
    </p>

</form>
<form method="post" asp-page-handler="Export" style="margin-bottom:2px">
        <input style="background-color:#0bb963;color:white;border-radius:3px 4px;" type="submit" value="Exporter Excel"  />
</form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pesage[0].SyncId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesage[0].UniqueKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesage[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesage[0].LibellePont)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesage[0].LibelleCamion)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Pesage[0].LibelleProduit)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Pesage[0].LibelleClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesage[0].CategorieCam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pesage[0].DateArrivee)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Pesage[0].DateSynchronisation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pesage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SyncId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibellePont)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibelleCamion)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LibelleProduit)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LibelleClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategorieCam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateArrivee)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateSynchronisation)
            </td>
            <td style="color:#0bb963;">
                <a style="color:#0bb963" asp-page="./Details" asp-route-id="@item.UniqueKey">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

